{% extends 'base.html' %}

{% block content %}
<section class="bg-dark text-light p-5 text-center">
    <div class="container rounded dark">
        <div class="d-sm-flex justify-content-evenly align-items-center">
            <div class="d-flex align-items-center">
                <div class="me-auto p-2">
                    <h1>Новый способ торговли NFT</h1>
                    <p class="text-center lead my-4">NFT Market Offence - лучшая площадка для приобретения и продажи NFT
                    </p>
                    <button class="btn btn-outline-success">Создать аккаунт</button>
                </div>
            </div>

            <img class="img-fluid rounded float-start mx-auto d-block" width="300px" height="500px"
                src="{{ url_for('static', filename='images/homepage-hero-image.png') }}" alt="Homepage Hero Image">
        </div>
    </div>
</section>


<section class="bg-dark text-light text-center second-section">
    <div class="container">
        <div class="row">
            <p class="h2">Популярные секции</p>
        </div>
        <div class="row mt-5">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <img class="text-center img-fluid rounded float-start mx-auto d-block" width="300px" height="500px" 
                    src="{{ url_for('static', filename='images/lords.png') }}" alt="Какая-то NFT">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cool NFT</h5>
                        <p class="card-text">Коллекция NFT c чем-то внутри. Это очень интересно покупать кота в
                            мешке и думать о чем-то приятном!!!</p>
                        <a href="#" class="btn btn-outline-success">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <img class="text-center img-fluid rounded float-start mx-auto d-block" width="300px" height="500px"
                    src="{{ url_for('static', filename='images/nakamigos.png') }}" alt="Какая-то NFT">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cool NFT</h5>
                        <p class="card-text">Коллекция NFT c чем-то внутри. Это очень интересно покупать кота в
                            мешке и думать о чем-то приятном!!!</p>
                        <a href="#" class="btn btn-outline-success">Купить</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <img class="text-center img-fluid rounded float-start mx-auto d-block" width="300px" height="500px"
                     src="{{ url_for('static', filename='images/wojakians.png') }}" alt="Какая-то NFT">
                    <div class="card-body text-center">
                        <h5 class="card-title">Cool NFT</h5>
                        <p class="card-text">Коллекция NFT c чем-то внутри. Это очень интересно покупать кота в
                            мешке и думать о чем-то приятном!!!</p>
                        <a href="#" class="btn btn-outline-success">Купить</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-light p-5">
    <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
            <h3 class="mb-3 mb-md-0">Присылать вам информацию о самых крутых коллекциях</h3>

            <div class="input-group">
                <input type="text" class="form-control" placeholder="Введите вашу почту" aria-describedby="button-addon2" aria-label="Введите вашу почту" >
                <button class="btn btn-success btn-lg" type="submit" >Присылать</button>
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary text-light p-5 text-center bg-dark">
    <div class="container align-items-center">
        <div class="row">
            <p class="h3">Присоединяйтесь к нам</p>
        </div>
        <div class="row mt-5 align-items-center">
            <div class="col-md-8">
                <p style="width: 500px;" class="mw-100">NFT Market Offence - это площадка для продажи или показа NFT артов. Здесь каждый может создать свой NFT арт и выставить его на аукцион или всеобщее обозрение</p>
            </div>
            <div class="col-md-4 align-items-center">
                <a href="#" class="btn btn-success" style="width: 200px;">Подписаться</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}