{% extends 'base.html' %}

{% block content %}
<main>
    <div class="box" id="box">
        <span class="borderLine"></span>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <h2>Войти</h2>
            <div class="inputBox">
                {{ form.email(type="text", placeholder=" ") }}
                <span>Почта</span>
                <i></i>
            </div>
            <div class="inputBox">
                {{ form.password(type="password", placeholder=" ") }}
                <span>Пароль</span>
                <i></i>
            </div>
            
            <div class="inputBox">
                {{ form.password(type="password", placeholder=" ") }}
                <span>Повторите пароль</span>
                <i></i>
            </div>

            <p class="text-danger">{{ error }}</p>

            <input type="submit" value="Войти">
        </form>
    </div>
</main>
{% endblock %}

{% block JSConnecting %}
<script src="{{ url_for('static', filename='js/setheight.js') }}"></script>
<script src="{{ url_for('static', filename='js/checkmetamask.js') }}"></script>
{% endblock %}