{% extends 'base.html' %}

{% block content %}
<div class="bg-dark p-5 text-light">
    <div class="container-fluid">
        <div class="row">
            <div style="background-color: #00393D; border-radius: 15px; height: max-content; padding-top: 5px; padding-bottom: 10px;" class="col-md-2">
                <div class="row text-center">
                    <p class="h3">Фильтры</p>
                </div>
                <div class="row text-center mt-3">
                    <p class="h5">Выберите цену</p>
                </div>
                <div class="row text-center text-light">
                    <div class="col m-auto">
                        <form action="post" class="mt-1">
                            <div class="d-md-flex justify-content-center">
                                <div style="width: 100px; margin-right: 3px;">от<input style="background-color: #2b2e31; border-color: #2b2e31; border: none; border-radius: 5px; width: 100px; color: #fff;" type="text" class="min-cost-input" placeholder="min"></div>
                                <div>и<br>—</div>
                                <div style="width: 100px; margin-left: 3px;">до<input style="background-color: #2b2e31; border-color: #2b2e31; border: none; border-radius: 5px; width: 100px; color: #fff;" type="text" class="max-cost-input-" placeholder="max"></div>
                            </div>
        
                            <button class="btn btn-success mt-4">Применить</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form class="d-md-flex justify-content-evenly" role="search">
                    <input style="width: 600px;" class="form-control" type="search" placeholder="Поиск"
                        aria-label="Поиск">
                    <button style="width: 200px;" class="btn btn-outline-success" type="submit">Искать</button>
                </form>

                <div class="list-of-cards p-3">

                    {% for nft, image in data %}
                        {{nft.name}}
                        <img src="data:image/png;base64, {{ image }}" alt="fuck">
                    {% endfor %}
            
                    <!--
                        nftentry.name -> Имя NFT
                        nftentry.description -> Описание NFT
                        nftentry.cost -> Цена NFT
                        nftentry.image -> Считай что картинка.
                                          Пока используй что нибудь другое в качестве картинки
                                          Я сам если что эту штуку поставлю
                        nftentry.owner -> ID владельца (Если вдруг понадобится. Не желательно бтв)
                        nftentry.on_sale -> На продаже ли (1 или 0)
                    -->

                    <!--
                        Переменные цикла:
                        https://wintercms.com/docs/markup/tag-for
                    -->

                    <!-- <div class="row mt-5">
                        {% for info in nftentry %}
                        <div class="col-md">
                            <div class="card bg-dark text-light">
                                <img class="text-center img-fluid rounded float-start mx-auto d-block" width="300px"
                                    height="500px" src="{{ url_for('static', filename=info['path']) }}"
                                    alt="Какая-то NFT">
                                <div class="card-body text-center">
                                    <h5 class="card-title">{{ info['cardTitle'] }}</h5>
                                    <p class="card-text">{{ info['cardText'] }}</p>
                                    <div class="sell-section card-footer d-md-flex justify-content-between align-items-center">
                                        <div class="cost text-center">
                                            <p>Цена</p>
                                            <p class="card-link"> {{info['cardCost']}} ETH </p>
                                        </div>
                                        <a href="#" class="btn btn-outline-success card-link">Купить</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}