{% extends 'base.html' %}

{% block content %}
<main>
    <div class="box" id="box">
        <span class="borderLine"></span>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <h2>Регистрация</h2>
            <div class="inputBox">
                {{ form.login(placeholder=" ") }}
                <span>Псевдоним пользователя</span>
                <i></i>
            </div>
            <div class="inputBox">
                {{ form.email(type="email", placeholder=" ") }}
                <span>Почта</span>
                <i></i>
            </div>
            <div class="inputBox">
                {{ form.password(type="password", placeholder=" ") }}
                <span>Пароль</span>
                <i></i>
            </div>

            <div class="walletInfo inputBox special">
                {{ form.wallet(placeholder=" ", class="wallet") }}
                <span>Номер кошелька</span>
                <i></i>
            </div>
            
            {% if error %}
                <p class="text-danger">{{ error }}</p>
            {% endif %}

            <div class="inputBox rememberBox">
                <input type="checkbox" checked id="rememberMe" style="width: min-content; margin-bottom: 10px; color: #fff;">
                <label for="rememberMe">Запомнить меня</label>
            </div>

            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>
</main>
{% endblock %}

{% block JSConnecting %}
<script src="{{ url_for('static', filename='js/setheight.js') }}"></script>
<script src="{{ url_for('static', filename='js/checkmetamask.js') }}"></script>
{% endblock %}