<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/start_page.css">
    <title>NFT Market Offence</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href='#'> <img src="../static/images/logo.png" alt="Logo Image" /> </a></li>
            </ul>
            <ul className='menu'>
                <li> <a class="menu_link" href="/market">Market </a> </li>
                <li> <a class="menu_link" href="/create_nft"> Create NFT </a> </li>
                <li> <a class="menu_link" href="/transactions"> Transactions </a> </li>
            </ul>

            <ul className='registration'>
                <li> <a class="registration_link" href='/login'>Log in</a> </li>
                <li> <a class="registration_link" href='/sign_up'>Sing up</a> </li>
            </ul>
        </nav>
    </header>
    <main>
    </main>
    <footer></footer>
</body>
</html>